#carrossel {
    margin: 0px auto;
    width: 95%;
    height: auto;
    padding: 0px;
    overflow: hidden;
}

#carrossel-itens {
    width: 400%;
    height: auto;
    display: flex;
}

#carrossel-itens input {
    display: none;
}

.imagem-carrossel {
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 0.5s;
}

.imagem-carrossel img {
    width: 95%;
}

.navega-auto, .navega-manual {
    position: absolute;
    width: 95%;
    margin-top: 47%;
    display: flex;
    justify-content: center;
}

.manual-botao, .navega-auto div {
    border: 2px solid #86C64F;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.manual-botao:not(:last-child) {
    margin-right: 20px;
}

.manual-botao:hover {
    background-color: #86C64F;
}

.navega-auto div:not(:last-child) {
    margin-right: 20px;
}

#radio1:checked ~ .navega-auto .auto-botao1, #radio2:checked ~ .navega-auto .auto-botao2,
#radio3:checked ~ .navega-auto .auto-botao3,
#radio4:checked ~ .navega-auto .auto-botao4 {
    background-color: #86C64F;
}

#radio1:checked ~ .inicio {
    margin-left: 0%;
}

#radio2:checked ~ .inicio {
    margin-left: -25%;
}

#radio3:checked ~ .inicio {
    margin-left: -50%;
}

#radio4:checked ~ .inicio {
    margin-left: -75%;
}